.chat-container {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #36393f;
  height: 100vh;
}

.chat-messages {
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #36393f;
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #36393f;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.chat-messages::-webkit-scrollbar-thumb:active {
  background-color: #696969;
}

.chat-input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
  background-color: #40444b;
}

.chat-input::-webkit-scrollbar {
  width: 8px;
}

.chat-input::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-input::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

.chat-input::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.chat-input::-webkit-scrollbar-thumb:active {
  background-color: #696969;
}

.chat-input > form > div.placeholder::before {
  content: "Enter query";
  color: #8e8e8e;
  pointer-events: none;
  user-select: none;
}

.chat-input > form > textarea {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
  resize: none;
  min-height: 1em;
  max-height: 10em;
  overflow-y: auto;
}

.chat-input > form {
  flex: 1;
}

.chat-input-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.chat-input-button:focus {
  outline: none;
}

.chat-input-button .MuiSvgIcon-root {
  color: white;
  font-size: 24px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding-left: 10em;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #26282c;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.chat-header__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chat-header__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chat-header__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chat-header__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chat-header__right > .MuiSvgIcon-root:hover {
  color: white;
}

.chat-header__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chat-header__search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
   -webkit-app-region:no-drag;
}

.chat-message {
  display: flex;
  align-items: center;
  padding: 1.25em;
  color: white;
}

.chat-message__info {
  margin-left: 1.25em;
}

.chat-message__timestamp {
  color: gray;
  margin-left: 1.25em;
  font-size: small;
}

.typing-indicator {
  display: inline-flex;
  align-items: center;
  padding: 0.625em;
  margin-left: 1.25em;
  background: #e6e6e6;
  border-radius: 1.25em;
  margin-top: 1em;
}

.typing-indicator__dot {
  width: 0.625em;
  height: 0.625em;
  margin: 0 0.15625em;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: typingFade 1s infinite;
}

.typing-indicator__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator__dot:nth-child(3) {
  animation-delay: 0.4s;
}

.typing-indicator__dot:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes typingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
